[Unit]
Description=.NET Web API Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/lib/helloworldapp
ExecStart=/usr/local/lib/helloworldapp/HelloWorld4
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
User=helloworldapp
Group=helloworldapp
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
